/* Variables */
$tr-blue: #214484;
$tr-silver: #CCD0DE;
$tr-green: #569B00;
$tr-mono: 'Consolas', monospace;
$tr-sans: 'Roboto', sans-serif;

/* Mixins */
@mixin gradient ( $dir, $color1, $stop1, $color2, $stop2 ) {
  background: -moz-linear-gradient( $dir, $color1 $stop1, $color2 $stop2 );
  background: -webkit-linear-gradient( $dir, $color1 $stop1, $color2 $stop2 );
  background: linear-gradient( $dir, $color1 $stop1, $color2 $stop2 );
}
@mixin double-gradient ( $dir, $color1, $stop1, $color2, $stop2, $color3, $stop3 ) {
  background: -moz-linear-gradient( $dir, $color1 $stop1, $color2 $stop2, $color3 $stop3 );
  background: -webkit-linear-gradient( $dir, $color1 $stop1, $color2 $stop2, $color3 $stop3 );
  background: linear-gradient( $dir, $color1 $stop1, $color2 $stop2, $color3 $stop3 );
}
@mixin transform ( $val ) {
  -webkit-transform: $val;
  -moz-transform: $val;
  -ms-transform: $val;
  -o-transform: $val;
  transform: $val;
}
@mixin transition ( $attr, $time ) {
  -webkit-transition: $attr $time ease;
  -moz-transition: $attr $time ease;
  -ms-transition: $attr $time ease;
  -o-transition: $attr $time ease;
  transition: $attr $time ease;
}

/* Keyframes */
@keyframes circle-wiggle {
  0% {border-radius: 50%; }
  25% {border-radius: 60% 40% 60% 40% / 50% 50% 50% 50%; }
  50% {border-radius: 50% 50% 50% 50% / 60% 40% 60% 40%; }
  75% {border-radius: 60% 40% 60% 40% / 40% 60% 40% 60%; }
  100% {border-radius: 50%; }
}

/* Main */
//general
html { scroll-behavior: smooth; }
body { margin: 0;  @include gradient( 180deg, $tr-blue, 20%, $tr-silver, 100% );}
section { margin: 0 15px; }
h1, h2, h3, h4 { font-family: $tr-mono; }
p, li { font-family: $tr-sans; letter-spacing: 0.02em; line-height: 1.2em; }
a.tr-link { color: $tr-silver; font-weight: 600; @include transition( color, 0.4s ); text-decoration: underline $tr-green; &:hover, &:focus { color: $tr-green; } }
hr {  width: 80%; margin-bottom: 50px; height: 2px; border: none; @include double-gradient( 270deg, rgba(0, 0, 0, 0), 0%, $tr-green, 50%, rgba(0, 0, 0, 0), 100% ); }
.row { display: flex; }
[data-col] { padding: 5px; }
[data-col="2"] { width: calc(100%/6); }
[data-col="3"] { width: 25%; }
[data-col="4"] { width: calc(100%/3); }
[data-col="6"] { width: 50%; }
[data-col="8"] { width: calc(100%/1.5); }
[data-col="9"] { width: 75%; }
[data-col="10"] { width: calc(100%/1.2); }
[data-col="12"] { width: 100%; }
.font-mono { font-family: $tr-mono; }
.profile-picture { border-radius: 50%; border: 5px $tr-silver solid; box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19); }
//header
.hero, .sticky-header {
  background-color: $tr-silver;
  font-family: $tr-mono;
  box-shadow: 2px 15px 20px rgba(0,0,0,0.3);
}
.sticky-header {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  color: $tr-green;
  top: 0;
  height: 0px;
  opacity: 0;
  z-index: 1000;
  align-items: center;
  padding: 0 20px;
  @include transition( all, 0.4s );
  p { font-weight: 800; }
  &.reveal { opacity: 0.9; height: 50px; }
}
.sticky-header .profile-picture { 
  width: 40px; 
  margin-left: 10px; 
  border-width: 1px; 
  opacity: 0; 
  @include transition( all, 0.4s );
  &:hover, &:focus { 
    filter: brightness(0.7); 
    border-color: $tr-green;
    animation-name: circle-wiggle;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
  } 
  &.reveal { opacity: 1; }
}
.sticky-header nav { margin-left: 10px; }
.sticky-header .nav-link { 
  color: $tr-green;
  margin: auto 5px;
  text-decoration: none;
  @include transition( color, 0.4s );
  font-weight: 800;
  &:hover, &:focus { color: $tr-blue; }
 }
.sticky-header .external-links { margin-left: auto; }
.external-links span { color: $tr-green; @include transition( all, 0.4s ); &:hover,&:focus { color: $tr-blue; } }
.hero {
  position: relative;
  height: 250px;
  text-align: center;
  padding-top: 80px;
  margin-bottom: 50px;
  overflow: hidden;
}
.hero-bg-image { position: absolute; top: 0; right: 0; bottom: 0; left: 0; opacity: 0.3; width: 120% }
.hero h1 { font-size: 2.5em; color: $tr-blue; }
.hero h2 { font-size: 1.5em; color: $tr-green; font-weight: 500; opacity: 0.6; }
.hero .external-links {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
  font-size: 1.5em;
  bottom: 0;
  place-content: space-around;
}
// quick bio
.quick-bio { margin-bottom: 50px;}
.quick-bio .row { align-items: center; justify-content: center; }
.quick-bio .profile-picture { width: 90%; max-width: 280px; }
.quick-bio h1 { color: $tr-silver; }
.quick-bio p { color: white; font-weight: 100; font-size: 1.2em; }
//services
.my-services-intro { display: block; text-align: center; margin-bottom: 50px;}
.my-services-intro h2 { color: $tr-silver; }
.my-services-intro p { color: white; margin: 0 150px; font-weight: 500; font-size: 1.1em; }
.my-services { color: $tr-blue; overflow: hidden;}
.my-services .row.right { justify-content: flex-end; .card {@include transform( translateX(100%) )} }
.my-services .row.right .list { text-align: right; }
.my-services .list { display: flex; flex-direction: column; align-self: center; opacity: 0; @include transition( all, 0.4s ); }
.my-services .list h2 { color: $tr-silver; }
.my-services .list ul { list-style-type: none; padding: 0; }
.my-services .list li { color: white; font-weight: 600; font-size: 1em; margin: 20px 0; }
.my-services .card {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 350px;
  width: 35%;
  margin: 15px 50px;
  box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  opacity: 0;
  @include gradient( 315deg, $tr-silver, 20%, rgb(255,255,255), 100% );
  @include transition( all, 0.8s );
  @include transform( translateX(-100%) )
}
.my-services .row.right .card { @include gradient( 45deg, $tr-silver, 20%, rgb(255,255,255), 100% ) }
.my-services .card h3 { text-decoration: underline;}
.my-services .card span { display: none; color: $tr-blue; font-size: 2em; }
.my-services .card p { font-weight: 600; font-size: 1em; padding: 0 15%; }
.my-services .row .card.slide-in { transform: translateX(0%); opacity: 1; }
.my-services .big-icon { color: $tr-green; width: 30%; position: relative; }
.my-services .big-icon::before { position: absolute; transform: scale(12); top: 50%; left: 70%; }
.my-services .row.right .big-icon::before { left: unset; right: 70%; }
.my-services-outro p { color: white; margin: 50px 0 20px 20px; font-weight: 500; font-size: 1.1em; }
//portfolio
.portfolio h1 { margin: 5px 0; text-decoration: underline; }
.portfolio-container { display: grid; grid-template-columns: 1fr 1fr 1fr; gap: 30px 5%; margin: 50px 10px; }
.portfolio-item { width: 100%; text-align: center; }
.portfolio-item img { border-radius: 10px; border: 5px $tr-silver solid; width: 280px; height: 200px; }
.portfolio-item p { height: 80px; }
.portfolio-item button {
  font-family: $tr-mono;
  font-size: 1.2em;
  border-radius: 10px;
  border: 3px $tr-silver solid;
  background-color: transparent;
  color: $tr-silver;
  @include transition( all, 0.4s );
  margin: 3px;
  &:hover, &:focus { border-color: $tr-green; color: black; transform: scale(0.9); cursor: pointer; }
}
//resume
.resume h1 { margin: 5px 0; text-decoration: underline;}
.resume .experience { margin-bottom: 50px;  }
.resume .experience h4 { text-decoration: underline; margin-left: 15px; }
.resume .experience p { margin: 0 15px; }
.resume .information { border-left: $tr-silver 3px solid; padding-left: 15px; }
.resume .information-container { display: grid; grid-template-columns: 1fr; }
.resume .information ul { margin-bottom: 10px; padding-inline-start: 15px; }
.resume .information ul.contact { padding: 0; list-style-type: none; }
.resume .information ul.contact a {
  color: rgba(0,0,0,0.8);
  font-weight: 100;
  @include transition( color, 0.4s );
  &:hover, &:focus { color: $tr-green; }
}
.resume .information ul li { margin: 2px 0; }
.resume .information span { margin-right: 5px; }

footer { position: relative; }
footer .bottom-bar {
  background-color: $tr-blue;
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  left: 0;
  align-items: center;
  right: 0;
  padding: 0 30px;
  height: 30px;
  font-family: $tr-sans;
  font-size: 0.8em;
  color: $tr-silver; 
}
footer .bottom-bar .email { margin-left: auto; } 
footer .bottom-bar a { 
  color: $tr-silver; 
  text-decoration: none;
  @include transition( color, 0.4s );
  &:hover, &:focus { color: $tr-green }
 }
//responsive
 @media only screen and (max-width: 992px) {
  .hero-bg-image { width: unset; }
  .portfolio-container { grid-template-columns: 1fr 1fr; }
  .my-services span { display: none; }
  .my-services .card { width: 65%; }
  .my-services .card span { display: block; }
  .my-services-outro { text-align: center; }
  .resume .experience p { font-size: 0.8em; }
  .resume .information li { font-size: 0.8em; }
  .resume .information span { display: block; margin-top: 10px; }
 }
 @media only screen and (max-width: 768px) {
  .hero .external-links { flex-direction: row; top: unset; left: 0; }
  .quick-bio .row, .resume .row { display: block; }
  .quick-bio div { margin: auto; }
  .my-services-intro p { margin: 0 5%; }
  .my-services .card { width: 100% }
  .my-services .list { display: none; }
  .resume .information-container { grid-template-columns: 1fr 1fr; margin-bottom: 50px;  }
  .portfolio-container { grid-template-columns: 1fr; }
  .portfolio-item p { padding: 0 15%; }
 }

 @media only screen and (max-width: 0px) {
 }